body {
  background-color: $primary-bg-color;
  color: $primary-font-color;
  font-family: $body-font;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 20px;
}

a {
  color: $primary-font-color-a;
  font-size: 14px;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $primary-font-color-a-focus;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h6 {
  font-family: $header-font;
}

h5 {
  font-family: $body-font;
  font-weight: 700;

  &.category {
    color: $primary-font-color-a-focus;
  }
}


.navbar {
  a {
    font-weight:700;
    float: none;
    padding: 12px 15px 10px !important;
    text-decoration: none;
    text-shadow: none;
  }

  .logo-img {
    height: 48px;
    margin: 2px 0 3px;
  }

  .nav-item.active a {
    color: $primary-font-color-a-focus;
  }

  .custom-toggler.navbar-toggler {
    border-color: $primary-font-color-a-focus;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(16,135,144, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.panel-heading {
  border-bottom: solid 1px $secondary-bg-color;
}

.tabs,
.title {
  text-align: center;
}

.button-holder {
  display: flex;
  margin: 10px;
  text-align: center;

  .button {
    background-color: $primary-bg-color;
    border-radius: 0;
    border: 1px solid $btn-success;
    color: $btn-success;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 600 !important;
    height: auto;
    letter-spacing: 0.08em;
    margin: 0 auto 5px auto;
    padding: 7px 50px 5px 50px;
    text-transform: uppercase;
    width: auto;

    &:hover {
      background-color: $btn-success;
      color: $primary-bg-color;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    &.cancel-btn {
      color: $btn-danger;
      background: $primary-bg-color;
      border: 1px solid $btn-danger;

      &:hover {
        background-color: $btn-danger;
        color: $primary-bg-color;
      }
    }
  }
}

.input-group {
  padding: 10px;

  .icon {
    background-color: $primary-bg-color;
    border: 1px solid $btn-success;
    color: $btn-success;
    float: left;
    width: 10%;
    height: 52px;
    font-family: $body-font;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 16px;
    text-align: center;
    min-width: 43px;
    padding-top: 14px;
  }

  .input-field {
    height: 52px;
  }
}

.radio-group label {
  overflow: hidden;
}

.radio-group input {
  /* This is on purpose for accessibility. Using display: hidden is evil.
  This makes things keyboard friendly right out tha box! */
  height: 1px;
  width: 1px;
  position: absolute;
  top: -20px;
}

.btn-teal {
  color: $secondary-font-color;
  background-color: $secondary-bg-color;

  &:hover,
  &:active,
  &.active {
    background-color: $primary-font-color-a-focus;
    color: $secondary-font-color;
    cursor: pointer;
  }
}

.table-row {
  cursor: pointer;

  td {
    padding: 0.35rem;
  }

  &:hover {
    font-weight: 600;
  }
}

.table-search-results {
  display: none;
}

.centres-list {
  padding-top: 0;
  width: 100%;

  .centre-checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $primary-bg-color;
    border-radius: 50px;
    border: solid 1px $primary-font-color-h5;
    color: $primary-font-color-check;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 25px;
    margin: 0 10px 0 0;
    outline: none;
    padding: 0 5px;
    position: relative;
    top: 12px;
    width: 25px;

    &:checked::before {
      content: '\02143';
      font: 13px/1 "Open Sans", sans-serif;
      left: 8px;
      position: absolute;
      top: 4px;
      transform: rotate(40deg);
    }
  }
}

.selectables {
  width: 100%;
  margin: 40px 0 20px 0;
  text-align: center;

  a {
    color: $primary-font-color-h5;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.6px;
    line-height: 1.36;
    margin: 0 20px;
    padding: 0;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.centre-list-item {
  display: inline-flex;

  label {
    margin: 10px 5px auto 0;
    font-size: 14px;
  }
}


