// Primary Colour Scheme
$primary-bg-color: #fff;
$primary-font-color: rgba(0,0,0,.78);
$primary-font-color-h3: #989898;
$primary-font-color-pop: #ffce2f;
$primary-font-color-a: #34b9c6;
$primary-font-color-a-focus: #108790;

$btn-success: #79be43;

// Secondary Colour Scheme
$secondary-bg-color: #34b9c6;
$secondary-font-color: #fff;

$body-font: 'Open Sans',Verdana,sans-serif;
$header-font: 'Bree Serif',Georgia,Times,serif;

